
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

input {
  min-width: 0;
}

html,
body {
  font-family: "Geometria";
  font-weight: 500;
  color: #2E2E2E;
  height: 100%;
}

:root {
	--size-50: 50px;
	--size-40: 40px;
	--size-20: 20px;
	--size-18: 18px;
	--size-14: 14px;
}

.wrapper {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
.wrapper.noscroll {
	height: 100%;
	overflow: auto;
}

.header {
  position: sticky;
  display: flex;
  top: 0;
  justify-content: space-between;
  padding: 20px 70px;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 100;
}
.header__block_1 {
  display: flex;
  gap: 62px;
  align-items: center;
}
.header__block_1-menu-header {
  display: none;
}
.header__block_1-logo {
  cursor: pointer;
}
.header__block_1-list {
  display: flex;
  gap: 20px;
}
.header__block_1-list__link {
  display: block;
  font-size: var(--size-18);
  font-weight: 500;
  line-height: 30px;
  color: #909090;
  transform: translate(0px, 0px);
  transition: all 0.1s ease;
}
.header__block_1-list__link:hover {
  transform: translate(-3px, -2px);
  text-shadow: 3px 2px 0px #aaaaaa;
  transition: all 0.2s ease;
  color: #000;
}
.header__block_1-list__link:active {
  transform: translate(0px, 0px);
  text-shadow: 0px 0px 0px #d3d3d3;
  transition: all 0.05s ease;
}
.header__block_2 {
  display: flex;
  gap: 20px;
  align-items: center;
}
.header__block_2-item {
  cursor: pointer;
}
.header__block_2-item img {
  width: auto;
  height: 21px;
}
.header__block_2-item-item.select {
  font-size: 20px;
  font-weight: 500;
  color: #2E2E2E;
}
.header__block_2-item__search {
  background-color: #FF6060;
  display: block;
  height: 30px;
  min-width: 306px;
  padding: 3px 20px 3px 38px;
  color: #fff;
  caret-color: #fff;
  font-size: 17px;
  border-radius: 15px 0 0 15px;
}
.header__block_2-item.searcher {
  position: relative;
  overflow: hidden;
  cursor: text;
}
.header__block_2-item.searcher::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 7px;
  min-width: 17px;
  min-height: 17px;
  z-index: 1;
  transition: all 0.5s ease;
  background: url("../img/icons/search.png") no-repeat;
}
.header__block_2-item.searcher::after {
  content: "Поиск";
  position: absolute;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #fff;
  top: 3px;
  left: 38px;
  min-width: 17px;
  min-height: 17px;
  z-index: 1;
  transition: all 0.3s ease;
}
.header__block_2-item.searcher:hover::before {
  transform: rotate(90deg);
}
.header__block_2-item.searcher.focus::before {
  animation: searcher 3s ease-in-out infinite;
}
.header__block_2-item.searcher.active::after {
  top: -30px;
}
@keyframes searcher {
  0% {
    transform: translate(0px, 0px);
    transform: rotate(90deg);
  }
  50% {
    transform: translate(7px, 0px);
  }
  80% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}
.header__burger {
  width: 25px;
  height: 19px;
  position: relative;
  z-index: 100;
  margin-left: 6px;
  display: none;
}
.header__burger::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 3px;
  border-radius: 2px;
  background-color: #2E2E2E;
}
.header__burger span {
  position: absolute;
  top: 8px;
  left: 0;
  width: 25px;
  height: 3px;
  border-radius: 2px;
  background-color: #2E2E2E;
}
.header__burger::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 25px;
  height: 3px;
  border-radius: 2px;
  background-color: #2E2E2E;
}

.burger_back {
  display: none;
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  background-color: transparent;
  z-index: 10;
}

.yellow {
  font-weight: 800;
  color: #FFDC60;
}

.red {
  color: #FF6060;
}

.main {
  flex: 1 1 auto;
  padding-top: 30px;
}
.main .fullscreen {
  width: 100%;
  min-height: calc(100vh - 118px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}
.main .fullscreen-body {
  flex: 0 1 1300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1296px;
  gap: 20px;
}
.main .fullscreen-body__block {
  display: flex;
  flex-direction: column;
  flex: 1 1 50%;
}
.main .fullscreen-body__block-img {
  display: flex;
  align-items: center;
}
.main .fullscreen-body__block img {
  display: block;
  width: 559px;
}
.main .fullscreen-body__block-title {
  font-size: var(--size-50);
  font-weight: 900;
  line-height: 46px;
  color: #2E2E2E;
  text-transform: uppercase;
  margin-bottom: 50px;
}
.main .fullscreen-body__block-subtitle {
  font-size: var(--size-18);
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 50px;
}
.main .fullscreen-body__block-call__title {
  font-size: var(--size-20);
  font-weight: 900;
  line-height: 22px;
  margin-bottom: 14px;
}
.main .fullscreen-body__block-call__btns {
  display: flex;
  gap: 24px;
}
.main .fullscreen-body__block-call__btns-btn {
  flex: 0 1 302px;
  height: 36px;
  background-color: #FF6060;
  display: block;
  font-size: var(--size-14);
  font-weight: 900;
  line-height: 36px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  border: 2px solid #FF6060;
  border-radius: 0 20px 20px 0;
  box-sizing: content-box;
  transition: all 0.2s ease;
}
.main .fullscreen-body__block-call__btns-btn:hover {
  background-color: #fff;
  color: #FF6060;
  transition: all 0.3s ease;
}
.main .fullwidth {
  width: 100%;
  position: relative;
  background-color: rgba(0, 0, 0, 0.6509803922);
  display: flex;
  justify-content: center;
  margin-bottom: 280px;
}
.main .fullwidth-bg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  overflow: hidden;
  z-index: -1;
  transition: all 0.5s ease-in;
}
.main .fullwidth-bg.active {
  opacity: 0;
}
.main .fullwidth-body {
  flex: 1 1 auto;
  display: flex;
  max-width: 793px;
  gap: 20px;
  justify-content: space-between;
}
.main .fullwidth-body__search {
  margin-top: 180px;
}
.main .fullwidth-body__search-title {
  font-size: var(--size-40);
  font-weight: 900;
  line-height: 37px;
  color: #fff;
  max-width: 306px;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.main .fullwidth-body__search-drop {
  position: relative;
  background-color: #fff;
  display: flex;
  align-items: center;
  height: 40px;
  max-width: 306px;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
  font-size: var(--size-14);
  margin-bottom: 20px;
}
.main .fullwidth-body__search-drop-arrow {
  background: url("../img/simbols/vector.png") 50% 50% no-repeat;
  position: absolute;
  top: 17px;
  right: 15px;
  width: 18px;
  height: 10px;
  transition: all 0.3s ease;
}
.main .fullwidth-body__search-drop-arrow.active {
  transform: rotate(180deg);
}
.main .fullwidth-body__search-drop-select {
  font-size: var(--size-14);
  font-weight: 900;
  line-height: 18px;
  text-transform: uppercase;
  margin-left: 15px;
}
.main .fullwidth-body__search-drop-select.active {
  font-size: var(--size-14);
  font-weight: 900;
  line-height: 18px;
  text-transform: uppercase;
}
.main .fullwidth-body__search-drop-items {
  width: 100%;
  position: absolute;
  display: none;
  top: 49px;
  left: 0;
  z-index: 10;
  background-color: #fff;
  padding: 10px 0px;
  border-radius: 0 20px 20px 0;
  height: 0px;
  opacity: 0;
  box-shadow: 0px 10px 10px #2E2E2E;
  transition: all 0.3s ease;
}
.main .fullwidth-body__search-drop-items.active {
  height: auto;
  display: block;
  opacity: 1;
}
.main .fullwidth-body__search-drop-items__item {
  font-size: 14px;
  text-transform: uppercase;
  height: auto;
  padding: 5px 15px;
  transition: all 0.2s ease;
  background-color: #fff;
  border-radius: 0 20px 20px 0;
}
.main .fullwidth-body__search-drop-items__item:hover {
  font-weight: 800;
  background-color: #c4c4c4;
}
.main .fullwidth-body__search-drop-items__item.active {
  background-color: #b4b4b4;
}
.main .fullwidth-body__search-btn {
  display: block;
  height: 33px;
  background-color: #FF6060;
  border: 2px solid #FF6060;
  border-radius: 0 20px 20px 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
}
.main .fullwidth-body__search-btn .searcher-icon {
  position: relative;
  top: 0;
  left: 0;
  width: 22px;
  height: 22px;
}
.main .fullwidth-body__search-btn .searcher-icon::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 19px;
  height: 19px;
  border: 2px solid #fff;
  border-radius: 50%;
}
.main .fullwidth-body__search-btn .searcher-icon::after {
  content: "";
  position: absolute;
  top: auto;
  left: auto;
  bottom: 2px;
  right: -1px;
  width: 8.5px;
  height: 0px;
  border: 1.2px solid #fff;
  border-radius: 1px;
  transform: rotate(45deg);
}
.main .fullwidth-body__search-btn:hover {
  transition: all 0.3s ease;
  background-color: transparent;
}
.main .fullwidth-body__img {
  margin-bottom: 77px;
}
.main .container {
  display: grid;
  grid-template-columns: 1fr minmax(100px, 1300px) 1fr;
  padding: 0 20px;
}
.main .main-item {
  grid-column: 2/3;
}
.main .main-item__title {
  font-size: var(--size-40);
  font-weight: 900;
  line-height: 37px;
  color: #2E2E2E;
}
.main .main-item_1 {
  margin-bottom: 280px;
}
.main .main-item_1__title {
  font-size: var(--size-40);
  font-weight: 900;
  line-height: 37px;
  text-align: center;
  text-transform: uppercase;
  color: #2E2E2E;
  margin-bottom: 55px;
}
.main .main-item_1__list {
  flex: 1 1 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}
.main .main-item_1__list-capsule {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 196px;
}
.main .main-item_1__list-capsule__block_1 {
  height: 148px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FF6060;
  border-radius: 95px 95px 0 0;
}
.main .main-item_1__list-capsule__block_1 img {
  width: 84px;
  height: 84px;
}
.main .main-item_1__list-capsule__block_2 {
  height: 138px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}
.main .main-item_1__list-capsule__block_2-number {
  font-size: var(--size-40);
  font-weight: 900;
  line-height: 44px;
  color: #FF6060;
}
.main .main-item_1__list-capsule__block_2-text {
  font-size: var(--size-18);
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  margin-bottom: 10px;
}
.main .main-item_1__list-capsule_reverse {
  display: flex;
  flex-direction: column-reverse;
}
.main .main-item_1__list-capsule_reverse .main-item_1__list-capsule__block_1 {
  background-color: #FFDC60;
  border-radius: 0 0 95px 95px;
}
.main .main-item_1__list-capsule_reverse .main-item_1__list-capsule__block_2 {
  justify-content: end;
}
.main .main-item_1__list-capsule_reverse .main-item_1__list-capsule__block_2-number {
  color: #FFDC60;
}
.main .main-item_2 {
  margin-bottom: 280px;
}
.main .main-item_2__title {
  margin-bottom: 55px;
  text-align: center;
}
.main .main-item_2__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 24px;
}
.main .main-item_2__list-item {
  position: relative;
  background-color: rgba(0, 0, 0, 0.7);
  height: 148px;
  border-radius: 74px 74px 74px 74px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 44px 0 42px;
}
.main .main-item_2__list-item.no-radius-stock {
  border-radius: 0px 74px 74px 0px;
}
.main .main-item_2__list-item.no-radius-reverse {
  border-radius: 74px 0px 0px 74px;
}
.main .main-item_2__list-item .no-radius-stock {
  border-radius: 0px 74px 74px 0px;
}
.main .main-item_2__list-item .no-radius-reverse {
  border-radius: 74px 0px 0px 74px;
}
.main .main-item_2__list-item-background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 74px 74px 74px 74px;
  transform: scale(1);
  transition: transform 0.5s ease;
}
.main .main-item_2__list-item:hover .main-item_2__list-item-background {
  transform: scale(1.2);
}
.main .main-item_2__list-item__speciality {
  text-transform: uppercase;
  font-size: var(--size-20);
  font-weight: 800;
  line-height: 22px;
}
.main .main-item_2__list-item__icon {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 60px;
  height: 60px;
}
.main .main-item_2__list-item__icon.yellow {
  background-color: #FFDC60;
}
.main .main-item_2__list-item__icon.red {
  background-color: #FF6060;
}
.main .main-item_3 {
  display: flex;
  gap: 12px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 280px;
}
.main .main-item_3__img {
  position: relative;
}
.main .main-item_3__img-back {
  position: absolute;
  top: 30px;
  left: 0;
  z-index: -1;
  max-width: 100%;
}
.main .main-item_3__img-person {
  position: relative;
  display: block;
  max-width: 100%;
}
.main .main-item_3__block {
  display: flex;
  flex-direction: column;
  align-items: end;
  max-width: 529px;
}
.main .main-item_3__block-title {
  font-size: var(--size-40);
  font-weight: 900;
  line-height: 37px;
  letter-spacing: 0em;
  text-align: right;
  margin-bottom: 62px;
  text-transform: uppercase;
}
.main .main-item_3__block-list__item {
  flex: 1 1 auto;
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 26px;
  margin-bottom: 50px;
}
.main .main-item_3__block-list__item:last-child {
  margin-bottom: 43px;
}
.main .main-item_3__block-list__item-block_content {
  text-align: right;
}
.main .main-item_3__block-list__item-block_content-title {
  font-size: var(--size-20);
  font-weight: 900;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: right;
  color: #FF6060;
  text-transform: uppercase;
  margin-bottom: 4px;
}
.main .main-item_3__block-list__item-block_content-text {
  font-size: var(--size-18);
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: right;
}
.main .main-item_3__block-list__item-block_numbers {
  min-width: 87px;
  height: 87px;
  background-color: #FF6060;
  border-radius: 44px 0 0 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main .main-item_3__block-list__item-block_numbers-elipse {
  background-color: #FFDC60;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 900;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: right;
  color: #FF6060;
}
.main .main-item_3__block-btn {
  min-width: 306px;
  line-height: 36px;
  color: #fff;
  font-size: var(--size-14);
  font-weight: 800;
  letter-spacing: 0em;
  text-align: center;
  background-color: #FF6060;
  border: 2px solid #FF6060;
  border-radius: 20px 0 0 20px;
  transition: all 0.2s ease;
}
.main .main-item_3__block-btn:hover {
  background-color: transparent;
  color: #FF6060;
  transition: all 0.3s ease;
}
.main .main-item_4 {
  margin-bottom: 280px;
}
.main .main-item_4__title {
  text-align: center;
  margin-bottom: 72px;
}
.main .main-item_4__carusel {
  overflow: hidden;
}
.main .main-item_4__carusel .main_carusel-items {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  transition: all 0.8s ease;
  margin-bottom: 36px;
}
.main .main-item_4__carusel .main_carusel-items-item {
  flex: 1 1 auto;
  min-width: 50%;
  display: flex;
  gap: 21px;
  padding-right: 24px;
  align-items: start;
}
.main .main-item_4__carusel .main_carusel-items-item-foto {
  flex: 1 1 auto;
  min-width: 196px;
  min-height: 196px;
  background-color: #FF6060;
  border-radius: 50%;
}
.main .main-item_4__carusel .main_carusel-items-item-foto img {
  position: relative;
  top: 0.5px;
  left: 0.8px;
  max-width: 192px;
  border-radius: 50%;
}
.main .main-item_4__carusel .main_carusel-items-item-block-name {
  font-size: var(--size-20);
  font-weight: 900;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 7px;
}
.main .main-item_4__carusel .main_carusel-items-item-block-univ {
  font-size: var(--size-14);
  font-weight: 900;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 7px;
}
.main .main-item_4__carusel .main_carusel-items-item-block-comment {
  font-size: var(--size-14);
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 9px;
}
.main .main-item_4__carusel .main_carusel-menu {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 9px;
}
.main .main-item_4__carusel .main_carusel-menu-btn {
  display: block;
  position: relative;
  flex: 1 1 auto;
  max-width: 164px;
  padding: 10px 0;
}
.main .main-item_4__carusel .main_carusel-menu-btn:hover::before, .main .main-item_4__carusel .main_carusel-menu-btn:hover::after {
  height: 1px;
}
.main .main-item_4__carusel .main_carusel-menu-btn span {
  display: block;
  position: relative;
  flex: 1 1 auto;
  max-width: 164px;
  height: 2px;
  background-color: #FF6060;
}
.main .main-item_4__carusel .main_carusel-menu-btn#back {
  position: relative;
}
.main .main-item_4__carusel .main_carusel-menu-btn#back::before {
  content: "";
  position: absolute;
  top: 6px;
  left: -3px;
  width: 14px;
  height: 0px;
  border: 1.5px solid #FF6060;
  transform: rotate(-45deg);
  border-radius: 2px;
}
.main .main-item_4__carusel .main_carusel-menu-btn#back::after {
  content: "";
  position: absolute;
  top: 14px;
  left: -3px;
  width: 14px;
  height: 0px;
  border: 1.5px solid #FF6060;
  transform: rotate(45deg);
  border-radius: 2px;
}
.main .main-item_4__carusel .main_carusel-menu-btn#next::before {
  content: "";
  position: absolute;
  top: 6px;
  right: -3px;
  width: 14px;
  height: 0px;
  border: 1.5px solid #FF6060;
  transform: rotate(45deg);
  border-radius: 2px;
}
.main .main-item_4__carusel .main_carusel-menu-btn#next::after {
  content: "";
  position: absolute;
  top: 14px;
  right: -3px;
  width: 14px;
  height: 0px;
  border: 1.5px solid #FF6060;
  transform: rotate(-45deg);
  border-radius: 2px;
}
.main .main-item_4__carusel .main_carusel-menu-navig {
  display: flex;
  gap: 6px;
}
.main .main-item_4__carusel .main_carusel-menu-navig-item {
  width: 13px;
  height: 13px;
  background-color: #FFDC60;
  border-radius: 50%;
  transition: all 0.7s ease;
}
.main .main-item_4__carusel .main_carusel-menu-navig-item.active {
  background-color: #FF6060;
  transition: all 0.3s ease;
}
.main .main-item_5 {
  margin-bottom: 231px;
  display: flex;
  gap: 24px;
  align-items: center;
}
.main .main-item_5-img {
  flex: 1 1 50%;
  display: flex;
  justify-content: center;
}
.main .main-item_5-block {
  flex: 1 1 50%;
  position: relative;
  padding: 38px 37px;
  border-radius: 30px;
  box-shadow: 0 0px 20px #0000003b;
}
.main .main-item_5-block-phone {
  position: absolute;
  top: 33px;
  right: 37px;
  cursor: pointer;
}
.main .main-item_5-block-title {
  font-size: var(--size-20);
  font-weight: 900;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 23px;
}
.main .main-item_5-block-form {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.main .main-item_5-block-form-item {
  position: relative;
  flex: 0 1 266px;
}
.main .main-item_5-block-form-item-subtitle {
  font-size: var(--size-18);
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 15px;
}
.main .main-item_5-block-form-item-input {
  position: relative;
  width: 100%;
  height: 28px;
  overflow: hidden;
}
.main .main-item_5-block-form-item-input input {
  padding-left: 25px;
  font-size: var(--size-14);
  min-width: 100%;
  min-height: 28px;
  display: block;
  z-index: 2;
}
.main .main-item_5-block-form-item-input::before {
  content: "";
  font-size: var(--size-14);
  font-weight: 500;
  line-height: 13px;
  letter-spacing: 0em;
  text-align: left;
  color: #989898;
  position: absolute;
  top: 8px;
  left: 25px;
  z-index: 1;
  cursor: text;
  transition: all 0.3s ease;
}
.main .main-item_5-block-form-item-input.active::before {
  top: -30px;
}
.main .main-item_5-block-form-item-input.number::before {
  content: "Номер";
}
.main .main-item_5-block-form-item-input.name::before {
  content: "Фамилия Имя Отчество";
}
.main .main-item_5-block-form-item-btn {
  width: 100%;
  height: 28px;
  font-size: var(--size-14);
  font-weight: 600;
  line-height: 13px;
  letter-spacing: 0em;
  text-align: center;
  background-color: #FF6060;
  color: #fff;
  border: 2px solid #FF6060;
  border-radius: 14px;
  transition: all 0.2s ease;
}
.main .main-item_5-block-form-item-btn:hover {
  background-color: transparent;
  color: #FF6060;
  transition: all 0.3s ease;
}

.footer {
  padding: 30px 20px;
  background-color: #222222;
  min-height: 224px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  row-gap: 30px;
  flex-wrap: wrap;
}
.footer-item {
  display: flex;
  align-items: center;
  gap: 12px;
}
.footer-item__icon {
  width: 64px;
  height: 64px;
  background-color: #FFDC60;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-item__icon span {
  font-size: 35px;
  position: relative;
  top: -3px;
  line-height: 0px;
  color: #FF6060;
}
.footer-item__info-subtitle {
  font-size: var(--size-20);
  font-weight: 900;
  line-height: 22px;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 11px;
}
.footer-item__info-link {
  font-size: var(--size-18);
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: justified;
  color: #fff;
  cursor: pointer;
}
.footer-item__info-links {
  display: flex;
  gap: 15px;
  align-items: center;
}
.footer-item__info-links__link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-item__info-links__link img {
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
}
.footer-item__info-links__link img:hover {
  width: 80%;
  height: 80%;
}

@media (max-width: 1500px) {
  .header {
    padding: 20px 30px;
  }
  .header__block_1 {
    gap: 32px;
  }
}
@media (max-width: 1440px) {
  :root {
    --size-50: 40px;
    --size-40: 30px;
    --size-20: 18px;
    --size-18: 16px;
    --size-14: 13px;
  }
  .main {
    padding-top: 0px;
  }
  .main .fullscreen {
    min-height: calc(100vh - 88px);
  }
  .main .fullscreen-body {
    flex: 0 1 1024px;
  }
  .main .fullscreen-body__block-img {
    align-items: end;
  }
  .main .fullscreen-body__block img {
    width: 90%;
  }
  .main .fullscreen-body__block-title {
    line-height: 100%;
    margin-bottom: 40px;
  }
  .main .fullscreen-body__block-subtitle {
    line-height: 110%;
    margin-bottom: 40px;
  }
  .main .fullscreen-body__block-call__title {
    margin-bottom: 10px;
  }
  .main .fullscreen-body__block-call__btns {
    gap: 18px;
  }
  .main .fullscreen-body__block-call__btns-btn {
    height: 34px;
    line-height: 34px;
  }
  .main .fullwidth {
    margin-bottom: 200px;
  }
  .main .fullwidth-body {
    max-width: 693px;
  }
  .main .fullwidth-body__search {
    margin-top: 100px;
  }
  .main .fullwidth-body__search-drop {
    max-width: 262px;
    margin-bottom: 15px;
  }
  .main .fullwidth-body__search-drop-items {
    padding: 0px 0px 5px 0px;
  }
  .main .fullwidth-body__search-drop-items__item {
    height: auto;
    padding: 5px 15px;
  }
  .main .fullwidth-body__search-btn {
    width: 262px;
  }
  .main .fullwidth-body__img {
    display: flex;
    justify-content: end;
    margin-bottom: 77px;
  }
  .main .fullwidth-body__img img {
    width: 80%;
  }
  .main .container {
    display: grid;
    grid-template-columns: 1fr minmax(100px, 1024px) 1fr;
    padding: 0 20px;
  }
  .main .main-item__title {
    line-height: 30px;
  }
  .main .main-item_1 {
    margin-bottom: 200px;
  }
  .main .main-item_1__list {
    gap: 10px;
  }
  .main .main-item_1__list-capsule {
    max-width: 161px;
  }
  .main .main-item_1__list-capsule__block_1 {
    height: 128px;
  }
  .main .main-item_1__list-capsule__block_1 img {
    width: 64px;
    height: 64px;
  }
  .main .main-item_1__list-capsule__block_2 {
    height: 118px;
  }
  .main .main-item_1__list-capsule__block_2-text {
    line-height: 18px;
  }
  .main .main-item_2 {
    margin-bottom: 200px;
  }
  .main .main-item_2__list {
    grid-gap: 14px;
  }
  .main .main-item_2__list-item {
    height: 108px;
    gap: 5px;
    padding: 0 24px 0 22px;
  }
  .main .main-item_2__list-item__icon {
    min-width: 50px;
    height: 50px;
  }
  .main .main-item_2__list-item__icon img {
    max-width: 32px;
  }
  .main .main-item_3 {
    margin-bottom: 200px;
  }
  .main .main-item_3__img {
    flex: 1 1 50%;
  }
  .main .main-item_3__block {
    flex: 1 1 50%;
  }
  .main .main-item_3__block-title {
    margin-bottom: 32px;
  }
  .main .main-item_3__block-list__item {
    flex: 1 1 auto;
    gap: 16px;
    margin-bottom: 25px;
  }
  .main .main-item_3__block-list__item:last-child {
    margin-bottom: 28px;
  }
  .main .main-item_3__block-list__item-block_content-title {
    margin-bottom: 2px;
  }
  .main .main-item_3__block-list__item-block_content-text {
    line-height: 18px;
  }
  .main .main-item_3__block-list__item-block_numbers {
    min-width: 67px;
    height: 67px;
  }
  .main .main-item_3__block-list__item-block_numbers-elipse {
    width: 50px;
    height: 50px;
    font-size: 14px;
  }
  .main .main-item_4 {
    margin-bottom: 200px;
  }
  .main .main-item_4__title {
    margin-bottom: 52px;
  }
  .main .main-item_4__carusel .main_carusel-items-item-foto {
    min-width: 146px;
    min-height: 146px;
  }
  .main .main-item_4__carusel .main_carusel-items-item-foto img {
    max-width: 142px;
  }
  .main .main-item_4__carusel .main_carusel-items-item-block-name {
    line-height: 20px;
  }
  .main .main-item_4__carusel .main_carusel-items-item-block-univ {
    line-height: 13px;
  }
  .main .main-item_4__carusel .main_carusel-items-item-block-comment {
    line-height: 13px;
  }
}
@media (max-width: 1280px) {
  .header__block_2-item__search {
    min-width: 150px;
    max-width: 150px;
  }
}
@media (max-width: 1100px) {
  :root {
    --size-50: 30px;
    --size-40: 24px;
    --size-20: 16px;
    --size-18: 14px;
    --size-14: 12px;
  }
  .header {
    padding: 15px 20px;
  }
  .header__block_1 {
    gap: 22px;
  }
  .header__block_1-logo {
    cursor: pointer;
  }
  .header__block_1-logo img {
    width: 33px;
    width: 33px;
  }
  .header__block_1-list {
    gap: 12px;
  }
  .header__block_2 {
    gap: 12px;
  }
  .header__block_2-item img {
    height: 18px;
  }
  .header__block_2-item.searcher {
    width: 35px;
  }
  .main {
    padding-top: 0px;
  }
  .main .fullscreen {
    min-height: calc(100vh - 63px);
  }
  .main .fullwidth {
    padding: 0 20px;
    margin-bottom: 150px;
  }
  .main .main-item_1 {
    margin-bottom: 150px;
  }
  .main .main-item_1__list {
    gap: 10px;
    flex-wrap: nowrap;
  }
  .main .main-item_1__list-capsule {
    gap: 0;
  }
  .main .main-item_1__list-capsule__block_1 {
    max-width: 161px;
    height: 88px;
  }
  .main .main-item_1__list-capsule__block_1 img {
    width: 44px;
    height: 44px;
  }
  .main .main-item_1__list-capsule__block_2 {
    max-width: 161px;
    height: 88px;
  }
  .main .main-item_1__list-capsule__block_2-number {
    padding-top: 3px;
    line-height: 100%;
  }
  .main .main-item_1__list-capsule__block_2-text {
    line-height: 14px;
  }
  .main .main-item_2 {
    margin-bottom: 150px;
  }
  .main .main-item_2__list {
    grid-gap: 14px;
  }
  .main .main-item_2__list-item {
    height: 108px;
    gap: 5px;
    padding: 0 24px 0 22px;
  }
  .main .main-item_2__list-item__icon {
    min-width: 50px;
    height: 50px;
  }
  .main .main-item_2__list-item__icon img {
    max-width: 32px;
  }
  .main .main-item_3 {
    margin-bottom: 150px;
  }
  .main .main-item_3__img {
    flex: 1 1 50%;
  }
  .main .main-item_3__block {
    flex: 1 1 50%;
  }
  .main .main-item_3__block-title {
    margin-bottom: 32px;
  }
  .main .main-item_3__block-list__item {
    flex: 1 1 auto;
    gap: 16px;
    margin-bottom: 25px;
  }
  .main .main-item_3__block-list__item:last-child {
    margin-bottom: 28px;
  }
  .main .main-item_3__block-list__item-block_content-title {
    margin-bottom: 2px;
  }
  .main .main-item_3__block-list__item-block_content-text {
    line-height: 16px;
  }
  .main .main-item_3__block-list__item-block_numbers {
    min-width: 67px;
    height: 67px;
  }
  .main .main-item_3__block-list__item-block_numbers-elipse {
    width: 50px;
    height: 50px;
    font-size: 14px;
  }
  .main .main-item_4 {
    margin-bottom: 150px;
  }
  .main .main-item_4__title {
    margin-bottom: 52px;
  }
  .main .main-item_4__carusel .main_carusel-items-item-foto {
    min-width: 146px;
    min-height: 146px;
  }
  .main .main-item_4__carusel .main_carusel-items-item-foto img {
    max-width: 142px;
  }
  .main .main-item_4__carusel .main_carusel-items-item-block-name {
    line-height: 20px;
  }
  .main .main-item_4__carusel .main_carusel-items-item-block-univ {
    line-height: 13px;
  }
  .main .main-item_4__carusel .main_carusel-items-item-block-comment {
    line-height: 13px;
  }
  .main .main-item_5 {
    margin-bottom: 231px;
    display: flex;
    gap: 24px;
    align-items: center;
  }
  .main .main-item_5-img {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    max-width: 300px;
  }
  .main .main-item_5-img img {
    max-width: 300px;
  }
  .main .main-item_5-block {
    flex: 1 1 auto;
    position: relative;
    padding: 38px 37px;
  }
  .main .main-item_5-block-form-item {
    flex: 0 1 200px;
  }
}
@media (max-width: 950px) {
  .main .main-item_2__list {
    grid-gap: 5px;
  }
  .main .main-item_2__list-item {
    justify-content: center;
    text-align: center;
    height: 108px;
    gap: 5px;
    padding: 0 24px 0 22px;
  }
  .main .main-item_2__list-item__icon {
    display: none;
  }
  .main .main-item_4__carusel .main_carusel-items-item {
    min-width: 100%;
  }
}
@media (max-width: 768px) {
  .burger_back.active {
    display: block;
  }
  .header__block_1-logo {
    z-index: 12;
  }
  .header__block_1-menu {
    position: fixed;
    top: 0px;
    left: 0;
    padding-top: 80px;
    width: 425px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6509803922);
    transform: translate(-425px, 0);
    transition: all 0.6s ease-in-out;
  }
  .header__block_1-menu.active {
    transform: translate(0px, 0);
  }
  .header__block_1-list {
    margin-left: 20px;
    display: block;
    font-size: 20px;
    text-transform: uppercase;
  }
  .header__block_1-list__link {
    color: #fff;
    margin-bottom: 10px;
  }
  .header__block_1-list__link:hover {
    transform: translate(0px, 0px);
    text-shadow: 0px 0px 0px transparent;
    transition: all 0.2s ease;
    color: #fff;
  }
  .header__block_1-list__link:active {
    transform: translate(0px, 0px);
    text-shadow: 0px 0px 0px transparent;
    transition: all 0.05s ease;
  }
  .header__block_1-list__link:active {
    color: #fff;
  }
  .header__block_1-list__link:last-child {
    margin-bottom: 0;
  }
  .header__block_2-item.searcher {
    position: relative;
    overflow: hidden;
    cursor: text;
    display: none;
  }
  .header__block_2 .burger_open {
    z-index: 2;
  }
  .header__block_2 .burger_open::before {
    z-index: 2;
  }
  .header__block_2 .burger_open::after {
    z-index: 2;
  }
  .header__block_2 .burger_open span {
    z-index: 2;
  }
  .header__burger {
    width: 25px;
    height: 19px;
    position: relative;
    z-index: 100;
    margin-left: 6px;
    display: block;
    z-index: 14;
  }
  .header__burger::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 3px;
    border-radius: 2px 0 0 2px;
    background-color: #2E2E2E;
    transition: all 0.2s ease;
  }
  .header__burger span {
    position: absolute;
    top: 8px;
    left: 0;
    width: 25px;
    height: 3px;
    border-radius: 2px 0 0 2px;
    background-color: #2E2E2E;
    transition: all 0.2s ease;
  }
  .header__burger::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 25px;
    height: 3px;
    border-radius: 2px 0 0 2px;
    background-color: #2E2E2E;
    transition: all 0.2s ease;
  }
  .header__burger.active::before {
    top: 8px;
    left: -2px;
    width: 28px;
    border-radius: 2px;
    transform: rotate(45deg);
  }
  .header__burger.active span {
    left: 12px;
    width: 0;
  }
  .header__burger.active::after {
    bottom: 8px;
    left: -2px;
    width: 28px;
    border-radius: 2px;
    transform: rotate(-45deg);
  }
  .main .main-item_1 {
    margin-bottom: 150px;
  }
  .main .main-item_1__list {
    gap: 40px;
    flex-wrap: wrap;
  }
  .main .main-item_3__block-btn {
    min-width: 206px;
  }
  .main .main-item_5 {
    margin-bottom: 150px;
    display: flex;
    gap: 24px;
    align-items: center;
  }
  .main .main-item_5-img {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    max-width: 300px;
  }
  .main .main-item_5-img img {
    max-width: 200px;
  }
}
@media (max-height: 760px) {
  .main .fullscreen-body__block {
    max-width: 660px;
  }
  .main .fullscreen-body__block img {
    max-width: 400px;
  }
}
@media (max-width: 630px) {
  .header__block_1-logo {
    z-index: 12;
  }
  .header__block_1-menu {
    width: 325px;
    transform: translate(-325px, 0);
  }
  .main .fullscreen {
    padding-bottom: 60px;
    align-items: center;
  }
  .main .fullscreen-body {
    flex-wrap: wrap-reverse;
    z-index: 2;
  }
  .main .fullscreen-body__block {
    z-index: 3;
  }
  .main .fullscreen-body__block-call__btns {
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
  }
  .main .fullscreen-body__block-img {
    display: none;
  }
  .main .fullwidth-body {
    max-width: 693px;
    margin-bottom: 30px;
  }
  .main .fullwidth-body__search {
    margin-top: 100px;
    z-index: 2;
  }
  .main .fullwidth-body__search-title {
    max-width: 200px;
    line-height: 100%;
  }
  .main .fullwidth-body__search-drop {
    max-width: 262px;
    margin-bottom: 15px;
  }
  .main .fullwidth-body__search-drop-items {
    padding: 0px 0px 5px 0px;
  }
  .main .fullwidth-body__search-drop-items__item {
    padding: 5px 15px;
  }
  .main .fullwidth-body__search-btn {
    width: 262px;
  }
  .main .fullwidth-body__img {
    position: absolute;
    top: 0;
    right: 20px;
    display: flex;
    justify-content: end;
    margin-bottom: 77px;
    z-index: 1;
  }
  .main .fullwidth-body__img img {
    width: 150px;
  }
  .main .main-item_2__list {
    grid-gap: 5px;
  }
  .main .main-item_2__list-item {
    height: 88px;
    gap: 5px;
    padding: 0 24px 0 22px;
  }
  .main .main-item_2__list-item__speciality {
    font-size: 12px;
    line-height: 13px;
  }
  .main .main-item_2__list-item__icon {
    min-width: 50px;
    height: 50px;
  }
  .main .main-item_2__list-item__icon img {
    max-width: 32px;
  }
  .main .main-item_1 {
    margin-bottom: 150px;
  }
  .main .main-item_1__list {
    gap: 50px;
    justify-content: center;
  }
  .main .main-item_1__list-capsule {
    max-width: 111px;
  }
  .main .main-item_1__list-capsule__block_1 {
    height: 78px;
  }
  .main .main-item_1__list-capsule__block_1 img {
    width: 34px;
    height: 34px;
  }
  .main .main-item_1__list-capsule__block_2 {
    height: 78px;
  }
  .main .main-item_1__list-capsule__block_2-text {
    line-height: 14px;
  }
  .main .main-item_3 {
    flex-wrap: wrap-reverse;
  }
  .main .main-item_3__block-btn {
    min-width: 206px;
  }
  .main .main-item_5 {
    margin-bottom: 231px;
    display: flex;
    gap: 24px;
    align-items: center;
  }
  .main .main-item_5-img {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    max-width: 300px;
  }
  .main .main-item_5-img img {
    display: none;
  }
}
@media (max-width: 475px) {
  .main .main-item_1__list {
    gap: 10px;
  }
  .main .main-item_1__list-capsule {
    max-width: 111px;
  }
  .main .main-item_1__list-capsule__block_1 {
    height: 78px;
  }
  .main .main-item_1__list-capsule__block_1 img {
    width: 34px;
    height: 34px;
  }
  .main .main-item_1__list-capsule__block_2 {
    height: 78px;
  }
  .main .main-item_1__list-capsule__block_2-text {
    line-height: 14px;
  }
}
@media (max-width: 425px) {
  .burger_back.active {
    display: block;
  }
  .main .fullscreen-body {
    flex-wrap: wrap-reverse;
  }
  .main .fullscreen-body__block-img img {
    max-width: 60%;
  }
  .main .fullscreen-body__block-title {
    margin-bottom: 20px;
  }
  .main .fullscreen-body__block-subtitle {
    margin-bottom: 20px;
  }
  .main .fullscreen-body__block-call__btns {
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
    width: 206px;
  }
  .main .fullwidth {
    margin-bottom: 150px;
  }
  .main .main-item_1 {
    margin-bottom: 150px;
  }
  .main .main-item_1__title {
    margin-bottom: 30px;
  }
  .main .main-item_1__list {
    row-gap: 20px;
    flex-wrap: wrap;
  }
  .main .main-item_2 {
    margin-bottom: 150px;
  }
  .main .main-item_2__title {
    margin-bottom: 30px;
  }
  .main .main-item_2__list {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
  }
  .main .main-item_2__list-item {
    height: 88px;
    gap: 5px;
    padding: 0 24px 0 22px;
  }
  .main .main-item_2__list-item__speciality {
    font-size: 12px;
    line-height: 13px;
  }
  .main .main-item_2__list-item__icon {
    min-width: 50px;
    height: 50px;
  }
  .main .main-item_2__list-item__icon img {
    max-width: 32px;
  }
  .main .main-item_3 {
    margin-bottom: 150px;
  }
  .main .main-item_3__block-btn {
    min-width: 206px;
  }
  .main .main-item_4 {
    margin-bottom: 150px;
  }
  .main .main-item_4__title {
    margin-bottom: 52px;
  }
  .main .main-item_4__carusel .main_carusel-items-item {
    flex-wrap: wrap;
  }
  .main .main-item_4__carusel .main_carusel-items-item-foto {
    min-width: 146px;
    min-height: 146px;
    max-width: 146px;
    max-height: 146px;
  }
  .main .main-item_4__carusel .main_carusel-items-item-foto img {
    max-width: 142px;
  }
  .main .main-item_4__carusel .main_carusel-items-item-block-name {
    line-height: 20px;
  }
  .main .main-item_4__carusel .main_carusel-items-item-block-univ {
    line-height: 13px;
  }
  .main .main-item_4__carusel .main_carusel-items-item-block-comment {
    line-height: 13px;
  }
  .main .main-item_5 {
    margin-bottom: 100px;
    display: flex;
    gap: 24px;
    align-items: center;
  }
  .main .main-item_5-img {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    max-width: 300px;
  }
  .main .main-item_5-img img {
    max-width: 200px;
  }
}
@media (max-width: 320px) {
  .header__block_1-logo {
    z-index: 12;
  }
  .header__block_1-menu {
    width: 320px;
    transform: translate(-320px, 0);
  }
  .header__burger.active::before {
    background-color: #fff;
  }
  .header__burger.active span {
    background-color: #fff;
  }
  .header__burger.active::after {
    background-color: #fff;
  }
  .main .fullscreen {
    padding-bottom: 60px;
    align-items: end;
  }
  .main .fullscreen-body {
    flex-wrap: wrap-reverse;
    z-index: 2;
  }
  .main .fullscreen-body__block {
    position: relative;
    top: 0;
    left: 0;
    z-index: 3;
  }
  .main .fullscreen-body__block-call__btns {
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
  }
  .main .fullscreen-body__block-img {
    display: none;
  }
  .main .fullscreen-body__block-img img {
    max-width: 70%;
    z-index: 1;
  }
}/*# sourceMappingURL=style.css.map */